<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaHotelaria.Properties.Settings.HotelMountainConnectionString"
            connectionString="Data Source=hotelmountain.database.windows.net;Initial Catalog=HotelMountain;Persist Security Info=True;User ID=ladeira;Password=HotelMountain123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>